#sectionLogin{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    overflow: hidden !important;
}

.loginLeft{
    overflow: hidden;
    background-color: #000;
}


#loginBG{
    height: 100%;
    width: 100vw;
    object-fit: cover;
    opacity: 50%;
}

#loginLogoG{
    position: absolute;
    left: -80px;
    top: 0px;
    margin: 0;
    z-index: 1;
    height: 100vh !important;
    transition: all ease-in-out 0.5s;
}

@media (max-width: 1200px){
    #loginLogoG{
        opacity: 50%;
        z-index: -1;
    }
}

@media (max-width: 1000px){
    #loginLogoG{
        opacity: 5%;
        z-index: -1;
    }
}


.loginRight{
    min-width: 800px;
    z-index: 2;
    transition: all ease-in-out 0.5s;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1200px){
    .loginRight{
        min-width: 100vw;
        z-index: 2;
    }
}

.loginRight  img{
    width: 136px;
    height: 89px;
}


.loginRight input{
    width: 329px;
}

.loginRight button{
    width: 350px;
}


#recSenha{
    font-family: 'Capriola';
    font-size: 12px;
    color: var(--cinza1);
    transition: all ease-in-out 0.5s;
}

#recSenha:hover{
    color: var(--branco);
    cursor: pointer;
}