:root {
  background-color: #292E32;
  --verde: #28CC97;
  --branco: #fff;
  --cinza1: #9E9E9E;
  --cinza2: #1F2227;
  --cinza3: #292E32;
  --cinza4: #15191C;
}

body {
  margin: 0;
}

/* ----------- INPUTS ------------- */
input:focus{
  outline: none;
}

.inputStd{
  height: 32px;
  border-radius: 16px;
  border: solid 1px var(--cinza1);
  background-color: transparent;
  font-family: "Capriola";
  padding: 0 10px;
  color: var(--cinza1);
  transition: all ease-in-out 0.3s;
}

.inputStd::placeholder{
  color: var(--cinza1);
  opacity: 50%;
}


.inputStd:focus{
  border: solid 1px var(--verde);
  color: var(--verde);
}

/* ----------- BOTOES ------------- */

.btn1{
  background-color: var(--verde);
  color: var(--cinza3);
  border-radius: 16px;
  height: 32px;
  border: solid 1px transparent;
  transition: all ease-in-out 0.3s;
}

.btn1:hover{
  background-color: transparent;
  border: solid 1px var(--verde);
  color: var(--verde);
  cursor: pointer;
}


/* Fontes utilizadas */
@font-face {
  font-family: "Capriola";
  src: url("./fonts/Capriola-Regular.eot");
  src: url("./fonts/Capriola-Regular.woff") format("woff"),
  url("./fonts/Capriola-Regular.woff2") format("woff2"),
  url("./fonts/Capriola-Regular.ttf") format("ttf");
}
